* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
*:before,
*:after {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
* {
  outline: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #33394E;
  font-size: 14px;
  font-family: 'openSan','open sans', 'Microsoft YaHei',Roboto, Arial, sans-serif;
}
td, th, caption {
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #555;
  text-decoration: none;
}
img {
  border: none;
  vertical-align: middle;
}
ol, ul, li {
  list-style: none;
}
input, textarea, select, button {
  font: 14px 'openSan','open sans', 'Microsoft YaHei',Roboto, Arial, sans-serif;
}
input, textarea {
  border: 0;
  -webkit-appearance:none !important;
  border-radius: 0;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: auto;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.ui-tip-contain {
  margin-top: 50px;
}
.option-items p {
  display: flex;
  justify-content: space-between;
  color: #606266;
  padding: 5px 0;
}
.option-items p.option-discrp {
  padding: 10px 0;
  color: #909399;
}

.option-items p span {
  width: 20%;
  padding: 5px;
}
.el-divider--horizontal {
  margin: 5px 0;
}
.el-card {
  margin-top: 20px;
}
/* 展示颜色的小方块 */
.example_color_block {
  display: inline-block;
  width: 15px!important;
  height: 15px!important;
}